.game-players {
  background-color: #c5baa9;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  overflow-y: scroll;
}

.game-players .game-room-link {
  flex-shrink: 0;
  color: white;
  height: 66px;
  border-radius: 33px;
  padding: 0 33px 0 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: left;
  margin: 20px 20px 20px 0;
  background-color: #0081ff;
}

.game-room-link span {
  display: block;
}

.game-room-link .game-room-link-url {
  font-size: 18px;
}

.game-room-link .game-room-link-instruction {
  font-size: 14px;
}

.red-turn .game-room-link {
  background-color: #ff5454
}

.blue-turn .game-room-link {
  background-color: #0081ff
}

.game-roster {
  padding: 16px 0 16px 16px;
  margin-right: 20px;
  border-top-right-radius: 1.2vw;
  border-bottom-right-radius: 1.2vw;
  border: 4px solid transparent;
  border-left: none;
}

.game-roster button {
  margin-top: 20px;
  background-color: white;
  color: white;
  font-size: 24px;
  height: 66px;
  border-radius: 33px;
  width: calc(100% - 20px);
}

.red-team button {
  color: #ff5454;
}

.blue-team button {
  color: #0081ff;
}

.game-roster + .game-roster {
  margin-top: 20px;
}

.game-roster-team-name {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.game-team-annotation {
  display: block;
  font-size: 18px;
}

.game-team-annotation+.game-team-annotation {
  margin-top: 5px;
}

.red-turn .red-team,
.no-turn .red-team {
  background-color: #ff5454;
}

.blue-turn .blue-team,
.no-turn .blue-team {
  background-color: #0081ff;
}

.red-turn .blue-team,
.blue-turn .red-team {
  background-color: transparent;
  border-color: #f3ecdf;
}

.game-roster .player:first-of-type {
  margin-top: 25px;
}

.player {
  display: grid;
  grid-template-columns: 87px 1fr;
  column-gap: 15px;
}

.avatar-container {
  width: 87px;
  height: 49.5px;
}

.player-name {
  font-size: 24px;
  margin: 0;
  padding: 7px 0;
}

.player-cluegiver-annotation {
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 7px;
}

.player-avatar-crown {
  margin-left: 14px;
}

.game-control-wrapper {
  padding: 20px;
}

.game-players .game-exit-button, .game-players .game-new-button {
  border: 4px solid transparent;
  color: white;
  background-color: transparent;
  width: 100%;
  font-size: 24px;
  border-radius: 33px;
  height: 66px;
}

.game-players .game-exit-button:hover, .game-players .game-new-button:hover {
  border-color: white;
}

@media screen and (max-height: 960px), (max-width: 1200px) {
  .game-players .game-room-link {
    margin-right: 10px;
  }
  .game-room-link .game-room-link-url {
    font-size: 14px;
  }
  .game-players {
    width: 250px;
  }
  .game-roster-team-name {
    font-size: 24px;
  }
  .game-team-annotation {
    font-size: 14px;
  }
  .game-roster .player:first-of-type {
    margin-top: 10px;
  }
  .player {
    grid-template-columns: 43px 1fr;
  }
  .player+.player {
    margin-top: 5px;
  }
  .avatar-container {
    width: 43px;
    height: 24.5px;
  }
  .player-avatar-crown {
    margin-left: -3px;
  }
  .player-name {
    font-size: 18px;
    padding: 3px 0;
  }
  .player-cluegiver-annotation {
    font-size: 12px;
  }
  .game-players .game-exit-button, .game-players .game-new-button {
    border: 3px solid transparent;
    color: white;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
  }
  .game-roster button {
    margin-top: 10px;
    font-size: 18px;
    height: 40px;
    border-radius: 20px;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 860px) {
  .game-players {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100vw - 40px);
    max-width: 350px;
    z-index: 4;
    box-shadow: 8px 0 4px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
  }

  .hide-player-section .game-players {
    transform: translateX(calc(-100% + 50px));
    box-shadow: none;
  }

  .hide-player-section .game-players * {
    opacity: 0;
  }

  .hide-player-section .game-players:after {
    content: 'menu!';
    display: block;
    opacity: 1;
    position: absolute;
    top: calc(50% - 20px);
    right: 3px;
    transform: rotate(90deg);
  }
}
